@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Bricolage',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*κωδικας για ολα τα table των σελιδων 
οπως πχ. στην σελιδα αντιπροσοποι*/
.table {
  margin-left: 250px;
  margin-top: 100px;
}

.table_header {
  text-align: center;
  background-color: #d5d1defe;
  padding: 20px;
}





.table_body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


th,
td {
  padding: 1rem;
}



/*κωδικας για το κουμπι στην σελιδα Antiprosopoi*/
.fill-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, transparent 0%, #0582ca 50%, #0582ca 100%);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

button:hover .fill-effect {
  transform: translateX(0);
  
  
}

/*κωδικας για το καθε ατομο στην διοικηση*/
.employee {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-bottom: 15px;
  width: 80%;
  max-width: 400px;
}

.name {
  margin: 0;
  font-size: 24px;
  color: #0582ca;
}

.additional-text {
  margin-top: 5px;
  font-size: 16px;
  color: #0582ca;
  
}
/*κωδικας για την σελιδα  εισφορες,και αντριπροσοποι για το table*/
main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}



