@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
}

/*κωδικας για ολα τα table των σελιδων 
οπως πχ. στην σελιδα αντιπροσοποι*/







.table_body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


th,
td {
  padding: 1rem;
}



/*κωδικας για το κουμπι στην σελιδα Antiprosopoi*/
.fill-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, transparent 0%, #0582ca 50%, #0582ca 100%);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

button:hover .fill-effect {
  transform: translateX(0);
  
  
}

/*κωδικας για το καθε ατομο στην διοικηση*/
.employee {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-bottom: 15px;
  width: 80%;
  max-width: 400px;
}




/*κωδικας για την σελιδα  εισφορες,και αντριπροσοποι για το table*/
main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
